.card_great_city {
    background-image: url("../img/card/great-city.png");
    display: inline-block;
    border-radius: 5px;
}

.card_outpost_ruins {
    background-image: url("../img/card/outpost-ruins.jpg");
}
