.row_grid {
    display: inline-block;
    height: 55px;
    width: 55px;
    border-style: solid;
}

.palette {
    display: inline-block;
    height: 80px;
    width:80px;
    margin: 2px;
}

.palette_sub {
    border-style: dotted;
    margin-left: 8px;
}

.palette_master {
    display: inline-block;
    vertical-align: top;
    width: 105px;
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.selected_palette {
    border-style: double;
    border-width: 10px;
    margin-bottom: 10px;
}

.grid_master {
    width: 1065px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.colour_field {
    background-color: yellow;
}

.colour_town {
    background-color: red;
}

.colour_water {
    background-color: blue;
}

.colour_forest {
    background-color: green;
}

.colour_monster {
    background-color: purple;
}

.colour_null {
    background-color: rgba(255, 255, 255, 0.3);
}

.colour_null_palette_only {
    background-image: url("../img/eraser.svg");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background-image: url("../img/old-paper.jpg");
}

.player_header {
    height: 100px;
    width: 100%;
    margin: 5px;
    /* text-align: center; */
}

.player_icon {
    height: 94px;
    width: 94px;
    background-image: url("../img/cartographer_avatar.png");
    background-size: 94px 94px;
    display: inline-block;
    border-style: solid;
}

.player_text {
    display: inline-block;
    width: 315px;
    height:106px;
    vertical-align: top;
    font-size: 24px;
    font-family: 'Satisfy', cursive;
}

.player_name {
    height: 26px;
    width: 305px;
    padding-top: 3px;
    text-align: center;
}

.player_motto {
    background-image: url("../img/scroll.png");
    height: 52px;
    width: 305px;
    background-size: 305px 65px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 15px;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.compass_rose {
    height: 95px;
    width: 95px;
    background-image: url("../img/compass-rose.png");
    background-size: 95px 95px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

.seasonal_cards_dropdown {
    overflow: hidden;
    height: 278px;
    width: 100%;
    border-top-color: tan;
    border-top-style: solid;
    border-bottom-color: tan;
    border-bottom-style: solid;
    text-align: center;
    padding-top: 5px;
}

.card_ {
    background-repeat: no-repeat;
    height: 225px;
    width: 165px;
    background-size: 165px 225px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

.card_label {
    width: 165px;
    height: 30px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Satisfy', cursive;
}

.seasonal_card_season {
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    margin-right: 85px;
    margin-left: 30px;
}

.dropdown_button {
    right: 10px;
    height: 22px;
    width: 30px;
    position: absolute;
    text-align: center;
    padding-bottom: 2px;
    background-color: tan;
}