.row_grid {
    display: inline-block;
    height: 65px;
    width: 65px;
    border-style: solid;
}

.palette {
    display: inline-block;
    height: 80px;
    width:80px;
    margin: 2px;
}

.palette_sub {
    border-style: dotted;
    margin-left: 8px;
}

.palette_master {
    display: inline-block;
    vertical-align: top;
    width: 105px;
    position: absolute;
    right: 10px;
    margin-top: 20px;
}

.selected_palette {
    border-style: double;
    border-width: 10px;
    margin-bottom: 10px;
}

.grid_master {
    width: 1065px;
    display: inline-block;
    margin: 50px;
}

.colour_field {
    background-color: yellow;
}

.colour_town {
    background-color: red;
}

.colour_water {
    background-color: blue;
}

.colour_forest {
    background-color: green;
}

.colour_monster {
    background-color: purple;
}

.colour_null {
    background-color: rgba(255, 255, 255, 0.3);
}

.colour_null_palette_only {
    background-image: url("../img/eraser.svg");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background-image: url("../img/old-paper.jpg");
}